<form class="signup-form">
  <input id="name-signup" type="text"/>
  <input id="email-signup" type="text"/>
  <input id="password-signup" type="password" />
  <button type="submit">sign up</button>
</form>

<script src="./js/login.js"></script>